.App {
  text-align: center;
  ;
}

.tbdr{
  margin-left: 10px;
  border-radius: 10px;
}
.main{
  padding: 30px;
  background-color: #333;
  width: 50%;
  margin-top: 180px;
  text-align: center;
  margin-left: 350px;
  color: aliceblue;
  border-radius: 10px;
}

